
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<p>Are You sure you want to logout?</p>

<form asp-controller="Auth" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Logout</button> |
</form>


