
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMS - @ViewBag.Title</title>
</head>
<body>
    @* Header Here *@
    <h2>Header Here</h2>

    @* Body Here *@
    @RenderBody()

    @* Footer Here *@
    <h5>Footer Here</h5>
</body>
</html>